In [2]:
# Machine learning
# Handling missing value
import pandas as pd
import numpy as np
data = {'Name':['Vijay','Ajith',None],'Age':[50,None,55]}
df = pd.DataFrame(data)
print(df)
print(df.isnull().sum())

    Name   Age
0  Vijay  50.0
1  Ajith   NaN
2   None  55.0
Name    1
Age     1
dtype: int64

In [4]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Name'] = df['Name'].fillna('Unknown')
print(df)

      Name   Age
0    Vijay  50.0
1    Ajith  52.5
2  Unknown  55.0

In [8]:
data = {'Name':['Yathishwar','Allwin',None],'Attendence':['Present',None,'Present']}
df = pd.DataFrame(data,index=[1,2,3])
print(df)
print(df.isnull().sum())

         Name Attendence
1  Yathishwar    Present
2      Allwin       None
3        None    Present
Name          1
Attendence    1
dtype: int64

In [9]:
df['Name'] = df['Name'].fillna('Hyden')
df['Attendence'] = df['Attendence'].fillna('Absent')
print(df)

         Name Attendence
1  Yathishwar    Present
2      Allwin     Absent
3       Hyden    Present

In [15]:
# Outliers Detection and Removal (IQR)
df = pd.DataFrame({'Height':[150,162,165,170,174,181,185,198,209,300]})
Q1 = df['Height'].quantile(0.25)
Q3 = df['Height'].quantile(0.75)
IQR = Q3 - Q1
fillter_df = df[(df['Height'] >= Q1-1.5*IQR) & (df['Height'] <= Q3+1.5*IQR)]
print('Original Height :\n',df)
print('Filltered Height(Outliers removed) : \n',fillter_df)
print(df.dtypes)

Original Height :
    Height
0     150
1     162
2     165
3     170
4     174
5     181
6     185
7     198
8     209
9     300
Filltered Height(Outliers removed) :
    Height
0     150
1     162
2     165
3     170
4     174
5     181
6     185
7     198
8     209
Height    int64
dtype: object

In [18]:
data = pd.DataFrame({'Marks':[1,50,70,65,86,72,98,100,300]})
Q1 = data['Marks'].quantile(0.25)
Q3 = data['Marks'].quantile(0.75)
IQR = Q3 - Q1
mark = data[(data['Marks'] >= Q1-1.5*IQR) & (data['Marks'] <= Q3+1.5*IQR)]
print('Original marks is :\n',data)
print('Outliers Removed :\n',mark)

Original marks is :
    Marks
0      1
1     50
2     70
3     65
4     86
5     72
6     98
7    100
8    300
Outliers Removed :
    Marks
1     50
2     70
3     65
4     86
5     72
6     98
7    100

In [12]:
age = np.array(np.random.randint(10,50,(8,5)))
print(age)
Age = pd.DataFrame(age)
print(Age)

[[20 41 35 22 13]
 [10 43 27 26 29]
 [22 30 41 47 47]
 [43 46 34 46 44]
 [30 29 34 28 43]
 [20 24 43 18 14]
 [46 44 39 29 45]
 [32 32 23 17 19]]
    0   1   2   3   4
0  20  41  35  22  13
1  10  43  27  26  29
2  22  30  41  47  47
3  43  46  34  46  44
4  30  29  34  28  43
5  20  24  43  18  14
6  46  44  39  29  45
7  32  32  23  17  19

In [13]:
a = np.array(np.random.randint(10,45,(8,2)))
print(a)
A = pd.DataFrame(a)
A

[[27 29]
 [16 38]
 [26 24]
 [21 38]
 [25 20]
 [41 23]
 [25 19]
 [22 40]]

    0   1
0  27  29
1  16  38
2  26  24
3  21  38
4  25  20
5  41  23
6  25  19
7  22  40

In [73]:
a = np.array(np.random.randint(10,45,(8,1)))
print(a)
d = pd.DataFrame(a,columns=['age'])
Q1 = d['age'].quantile(0.25)
Q3 = d['age'].quantile(0.75)
IQR = Q3-Q1
Age_calculation = d[(d['age']>= (Q1-1.5*IQR)) & (d['age'] <= (Q3+1.5*IQR))]
print(d)
print(Age_calculation)

[[14]
 [36]
 [32]
 [23]
 [10]
 [38]
 [25]
 [43]]
   age
0   14
1   36
2   32
3   23
4   10
5   38
6   25
7   43
   age
0   14
1   36
2   32
3   23
4   10
5   38
6   25
7   43

In [40]:
# Feature Engineering - Creating New columns
data = pd.DataFrame({'Weight':[62,75,81],'Height':[1.6,1.75,1.8]})
data['BMI'] = data['Weight'] / (data['Height']**2)
print('BMI Calculator : \n',data)

BMI Calculator :
    Weight  Height        BMI
0      62    1.60  24.218750
1      75    1.75  24.489796
2      81    1.80  25.000000

In [46]:
mark = pd.DataFrame({'Commerce':[75,81,99],'Economics':[78,89,97]})
mark['Average'] = mark['Commerce']+mark['Economics']/2
print(mark)

   Commerce  Economics  Average
0        75         78    114.0
1        81         89    125.5
2        99         97    147.5

In [59]:
# Removing Unwanted Columns
df = pd.DataFrame({'ID':[1,2],
                   'Name':['Ashik','Shaheed'],
                   'Age':[25,35]
})
# Dropping 
df.drop('ID',axis=1) # here the Inplace is not mentioned
print('Column not removed : \n',df)
df.drop('ID',axis=1,inplace=True) # It is mentioned here.
print('Column is removed : \n',df)

Column not removed :
    ID     Name  Age
0   1    Ashik   25
1   2  Shaheed   35
Column is removed :
       Name  Age
0    Ashik   25
1  Shaheed   35

In [123]:
# Creating new columns
import datetime
df = pd.DataFrame({'BirthYear':['2005','2007']})
df['BirthYear'] = df['BirthYear'].astype(int) # converted the column type from string to integer.
today = datetime.date.today()
print(today)
df['Age'] = 2025-df['BirthYear']
print('Age from BirthYear :\n',df)

2025-09-17
Age from BirthYear :
    BirthYear  Age
0       2005   20
1       2007   18

In [120]:
import datetime
today = datetime.date.today()
print(today.strftime('%d:%m:%Y'))
time = datetime.datetime.now()
print(time.strftime('%H:%M:%S'))

17:09:2025
12:04:19

In [77]:
# Converting column types
df = pd.DataFrame({'Salary':['15000','30000','75000']})
df['Salary'] = df['Salary'].astype(int)
print('Converted the salary into integer : \n',df)
print(df.dtypes)

Converted the salary into integer :
    Salary
0   15000
1   30000
2   75000
Salary    int64
dtype: object

In [129]:
date = pd.DataFrame({'Joindate':['2005-06-02','2007-01-26']})
print(date.dtypes)
date['Joindate'] = pd.to_datetime(date['Joindate'])
print('Converted to Datetime : \n',date)
print(date.dtypes)

Joindate    object
dtype: object
Converted to Datetime :
     Joindate
0 2005-06-02
1 2007-01-26
Joindate    datetime64[ns]
dtype: object

In [112]:
# Renaming columns
df = pd.DataFrame({'Employee Name':['Alice','Bob','Charlie','David','Eswar'],'Employee Age':['25','27','23','28','35']})
data=df.rename(columns={'Employee Name':'Name','Employee Age':'Age'})
data['Age'] = data['Age'].astype(int)
print('Before Renaming : \n',df)
print('It is importing the inplace indirectly : \n',data)
df.rename(columns={'Employee Name':'Name','Employee Age':'Age'},inplace=True)
print('This importing the inplace directly : \n',df)

Before Renaming :
   Employee Name Employee Age
0         Alice           25
1           Bob           27
2       Charlie           23
3         David           28
4         Eswar           35
It is importing the inplace indirectly :
       Name  Age
0    Alice   25
1      Bob   27
2  Charlie   23
3    David   28
4    Eswar   35
This importing the inplace directly :
       Name Age
0    Alice  25
1      Bob  27
2  Charlie  23
3    David  28
4    Eswar  35

In [98]:
# Sample
a = np.array(np.random.randint(0,100,(10,2)))
df = pd.DataFrame(a,columns=['Age','Marks'])
print(df)
def remove_outliers(data,column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    cleaned_data = data[(data[column] >= Q1-1.5*IQR) & (data[column] <= Q3+1.5*IQR)]
    return cleaned_data
df_clean = remove_outliers(df,'Age')
df_clean = remove_outliers(df_clean,'Marks')
print('It is After the function : \n',df_clean)

   Age  Marks
0   77     74
1   85     86
2   24     66
3   26     23
4   10     34
5   95     75
6   39     55
7   16     42
8   12     43
9   32     95
It is After the function :
    Age  Marks
0   77     74
1   85     86
2   24     66
3   26     23
4   10     34
5   95     75
6   39     55
7   16     42
8   12     43
9   32     95

In [103]:
a = np.array(np.random.randn(5))
df = pd.DataFrame(a,columns=['Percent'])
print(df)
Q1 = df['Percent']
Q3 = df['Percent']
IQR = Q3 - Q1
dj = df[(df['Percent'] >= Q1-1.5*IQR) & (df['Percent']<= Q3+1.5*IQR)]
print('After Outliers : \n',dj)

    Percent
0 -0.207518
1 -1.581986
2 -0.211450
3 -0.103839
4 -0.728000
After Outliers :
     Percent
0 -0.207518
1 -1.581986
2 -0.211450
3 -0.103839
4 -0.728000

In [138]:
import pandas as pd
from datetime import datetime
df = pd.DataFrame({'Joindate':['2005-06-02','2007-01-26','1979-11-21','1987-03-11']})
df['Joindate'] = pd.to_datetime(df['Joindate'],format='%Y-%m-%d')
print(df.dtypes)
print(df)
df['Join_year'] = df['Joindate'].dt.year
df['Join_month'] = df['Joindate'].dt.month
df['Join_day'] = df['Joindate'].dt.day
print(df)

Joindate    datetime64[ns]
dtype: object
    Joindate
0 2005-06-02
1 2007-01-26
2 1979-11-21
3 1987-03-11
    Joindate  Join_year  Join_month  Join_day
0 2005-06-02       2005           6         2
1 2007-01-26       2007           1        26
2 1979-11-21       1979          11        21
3 1987-03-11       1987           3        11