In [1]:
# List
# Create a five fruits and print it.
fruits = ['Apple','Mango','Orange','Grapes','Banana']
print(fruits)

['Apple', 'Mango', 'Orange', 'Grapes', 'Banana']

In [2]:
# Print the first and last element from the list of number.
numbers = [10,20,30,40,50,60,70,80]
print('The first number is : ',numbers[0])
print('The last number is : ',numbers[7])

The first number is :  10
The last number is :  80

In [3]:
# Add a new fruits to existing list.
fruits.append('Jackfruit')
print(fruits)

['Apple', 'Mango', 'Orange', 'Grapes', 'Banana', 'Jackfruit']

In [5]:
# Remove an element from a list.
fruits.remove('Orange')
print(fruits)

['Apple', 'Mango', 'Grapes', 'Banana', 'Jackfruit']

In [7]:
# Find the length of a list
print(len(fruits))

5

In [9]:
# Allow two list
fruits.extend(['Cherry','Littchi'])
print(fruits)

['Apple', 'Mango', 'Grapes', 'Banana', 'Jackfruit', 'Cherry', 'Littchi']

In [10]:
# Replace one element with another.
fruits[6] = 'Watermelon'
print(fruits)

['Apple', 'Mango', 'Grapes', 'Banana', 'Jackfruit', 'Cherry', 'Watermelon']

In [11]:
# Insert at second index.
fruits.insert(5,'Guava')
print(fruits)

['Apple', 'Mango', 'Grapes', 'Banana', 'Jackfruit', 'Guava', 'Cherry', 'Watermelon']

In [12]:
len(fruits)

8

In [15]:
# Check any elements in the list
print('Mango' in fruits)

True

In [16]:
print('Littchi' in fruits)

False

In [23]:
# Tuples
# Create a tuple of 5 colors and print it.
colours = ('Red','Yellow','Green','Blue','Black')
print(colours)
type(colours)

('Red', 'Yellow', 'Green', 'Blue', 'Black')

tuple

In [24]:
# print second and fourth items of the tuple.
print('The second item is : ',colours[1])
print('The second item is : ',colours[3])

The second item is :  Yellow
The second item is :  Blue

In [27]:
# Find the number items in tuple.
numbers = (10,20,30,40,50,20,10)
len(numbers)

7

In [31]:
# Convert a tuple to a list and update it.
vegetable = ('Carrot','Raddish','Brinjal')
veg_list = list(vegetable)
veg_list.append('Chilli')
print('The updated list is : ',veg_list)

The updated list is :  ['Carrot', 'Raddish', 'Brinjal', 'Chilli']

In [35]:
# Set
numbers = {1,2,3,4,5}
numbers.add(7)
print(numbers)

{1, 2, 3, 4, 5, 7}

In [38]:
N = {1,3,5}
N.add(7)
print(N)

{1, 3, 5, 7}

In [39]:
# Remove an element from a set.
language = {'Tamil','Malayalam','Telugu','Hindi'}
language.remove('Hindi')
print(language)

{'Tamil', 'Telugu', 'Malayalam'}

In [40]:
# Find the common elements between two set.
business = {'Innovative','Financial managment','Risk managment'}
Business = {'Risk managment','Problem solving','Decision making'}
business.intersection(Business)

{'Risk managment'}

In [41]:
business.union(Business)

{'Decision making',
 'Financial managment',
 'Innovative',
 'Problem solving',
 'Risk managment'}

In [42]:
Business.union(business)

{'Decision making',
 'Financial managment',
 'Innovative',
 'Problem solving',
 'Risk managment'}

In [44]:
business.difference(Business)

{'Financial managment', 'Innovative'}

In [45]:
Business.difference(business)

{'Decision making', 'Problem solving'}

In [46]:
Business.symmetric_difference(business)

{'Decision making', 'Financial managment', 'Innovative', 'Problem solving'}

In [59]:
# Dictionary
# Create a dictionary contining student name,age, and grade.print the dictionary
student_dict = {'Name':'Ajtih','Age': 22 ,'Grade':'A+'}
print(student_dict)

{'Name': 'Ajtih', 'Age': 22, 'Grade': 'A+'}

In [56]:
# Print the student age of dictionary
print('Age : ',student_dict['Age'])

Age :  22

In [60]:
# Update the student grade from A+ to O.
student_dict['Grade']='O'
print(student_dict)

{'Name': 'Ajtih', 'Age': 22, 'Grade': 'O'}

In [63]:
student_dict.update({'Height':180})
print(student_dict)

{'Name': 'Ajtih', 'Age': 22, 'Grade': 'O', 'Height': 180}

In [1]:
a,b,c =(10,20,30)
print(a+b+c)

60

In [2]:
x = int(input('Enter the value : '))
print('Even' if x%2 == 0 else 'Odd')

Enter the value :  6

Even