In [9]:
import sqlite3 # connect to sqlite3
conn = sqlite3.connect('student.db')
cursor = conn.cursor()
cursor.execute('''
Create table if not exists 
student (
    id integer primary key
autoincrement,
    name Text Not NULL,
    AGE INTEGER Not NULL
    )
''')
cursor.execute('insert into student (name,age) values(?,?)',('Alice',20))
cursor.execute('insert into student (name,age) valuES(?,?)',('Bob',22))
conn.commit()
cursor.execute('SELECT*FROM student')
rows=cursor.fetchall()
print('Student records.')
for row in rows:
    print(f'Id :{row[0]},Name : {row[1]},Age : {row[2]}')
conn.close()

Student records.
Id :1,Name : Alice,Age : 20
Id :2,Name : Bob,Age : 22
Id :3,Name : Alice,Age : 20
Id :4,Name : Bob,Age : 22
Id :5,Name : Alice,Age : 20
Id :6,Name : Bob,Age : 22

In [13]:
import sqlite3
corn = sqlite3.connect('student.db')
cursor = corn.cursor()
cursor.execute('''
Create table if not exists
student(
    id integer primary key
autoincrement,
    name Text not Null,
    Age integer not Null
    )
''')
cursor.execute('insert into student (name,age) values(?,?)',('Ajith',25))
cursor.execute('insert into student (name,age) values(?,?)',('Naveen',31))
cursor.execute('insert into student (name,age) values(?,?)',('Suriya',25))
cursor.execute('insert into student (name,age) values(?,?)',('Yathishwar',21))
corn.commit()
cursor.execute('select*from student')
rows = cursor.fetchall()
print('Student records.')
for row in rows:
    print(f'Id : {row[0]} ,Name : {row[1]} ,Age : {row[2]}')
corn.close()

Student records.
Id : 1 ,Name : Alice ,Age : 20
Id : 2 ,Name : Bob ,Age : 22
Id : 3 ,Name : Alice ,Age : 20
Id : 4 ,Name : Bob ,Age : 22
Id : 5 ,Name : Alice ,Age : 20
Id : 6 ,Name : Bob ,Age : 22
Id : 7 ,Name : Ajith ,Age : 25
Id : 8 ,Name : Naveen ,Age : 31
Id : 9 ,Name : Suriya ,Age : 25
Id : 10 ,Name : Yathishwar ,Age : 21
Id : 11 ,Name : Ajith ,Age : 25
Id : 12 ,Name : Naveen ,Age : 31
Id : 13 ,Name : Suriya ,Age : 25
Id : 14 ,Name : Yathishwar ,Age : 21

In [ ]:
import sqlite3
corn = sqlite3.connect('student.db')
cursor = corn.cursor()
cursor.execute('''
Create table if not exists student(
id Integer primary key autincrement,
name text not null,
age text not null
 )
''')
cursor.execute('Insert into student(name,age) values (?,?)',('yathishwar',21))
cursor.execute('Insert into student(name,age) values (?,?)',('Naveen Kumar',31))
corn.commit()
cursor.execute()