In [1]:
import pandas as pd
import matplotlib.pyplot as plt
student = pd.read_csv(r'C:\Users\ADMIN\Desktop\Jupyter folder/Downloads/students_20.csv')
print(student)

   Student Name  Math  Science  English
0         Aarav    75      100       86
1          Diya    91       73       93
2         Kabir    94       89       94
3         Meera    88       97       73
4        Ishaan    77       80       74
5        Ananya    72       90       72
6         Rohan    90       81       80
7         Sanya    89       77       90
8         Arjun    73       81       84
9         Priya    72       70       75
10       Vihaan    91       77       79
11        Nisha    89       85       70
12       Aditya    78       94       72
13        Kavya    75       75       76
14        Manav    87       96       80
15       Ritika    75       89       75
16        Karan    80       94       97
17       Simran    87       90       72
18          Dev    83       77       91
19        Pooja    75       77       94

In [5]:
print(student.head(5))

  Student Name  Math  Science  English
0        Aarav    75      100       86
1         Diya    91       73       93
2        Kabir    94       89       94
3        Meera    88       97       73
4       Ishaan    77       80       74

In [15]:
print(student[["Student Name",'Math']])

   Student Name  Math
0         Aarav    75
1          Diya    91
2         Kabir    94
3         Meera    88
4        Ishaan    77
5        Ananya    72
6         Rohan    90
7         Sanya    89
8         Arjun    73
9         Priya    72
10       Vihaan    91
11        Nisha    89
12       Aditya    78
13        Kavya    75
14        Manav    87
15       Ritika    75
16        Karan    80
17       Simran    87
18          Dev    83
19        Pooja    75

In [20]:
print(student[['Math','Science','English']].mean())

Math       82.05
Science    84.60
English    81.35
dtype: float64

In [31]:
print(student.loc[student['Science'].idxmax(),'Student Name'])

Aarav

In [35]:
print(student[student['English']>90])

   Student Name  Math  Science  English
1          Diya    91       73       93
2         Kabir    94       89       94
16        Karan    80       94       97
18          Dev    83       77       91
19        Pooja    75       77       94

In [45]:
print(student.sort_values('Math',ascending=False))

   Student Name  Math  Science  English
2         Kabir    94       89       94
1          Diya    91       73       93
10       Vihaan    91       77       79
6         Rohan    90       81       80
11        Nisha    89       85       70
7         Sanya    89       77       90
3         Meera    88       97       73
17       Simran    87       90       72
14        Manav    87       96       80
18          Dev    83       77       91
16        Karan    80       94       97
12       Aditya    78       94       72
4        Ishaan    77       80       74
0         Aarav    75      100       86
15       Ritika    75       89       75
13        Kavya    75       75       76
19        Pooja    75       77       94
8         Arjun    73       81       84
9         Priya    72       70       75
5        Ananya    72       90       72

In [5]:
student['Total'] = student['Math']+student['Science']+student['English']
print(student)

   Student Name  Math  Science  English  Total
0         Aarav    75      100       86    261
1          Diya    91       73       93    257
2         Kabir    94       89       94    277
3         Meera    88       97       73    258
4        Ishaan    77       80       74    231
5        Ananya    72       90       72    234
6         Rohan    90       81       80    251
7         Sanya    89       77       90    256
8         Arjun    73       81       84    238
9         Priya    72       70       75    217
10       Vihaan    91       77       79    247
11        Nisha    89       85       70    244
12       Aditya    78       94       72    244
13        Kavya    75       75       76    226
14        Manav    87       96       80    263
15       Ritika    75       89       75    239
16        Karan    80       94       97    271
17       Simran    87       90       72    249
18          Dev    83       77       91    251
19        Pooja    75       77       94    246

In [57]:
print(student.loc[student['Total'].idxmax(),'Student Name'])

Kabir

In [61]:
print(student[(student['Math']<80)|(student['Science']<80)|(student['English']<80)])

   Student Name  Math  Science  English  Total
0         Aarav    75      100       86    261
1          Diya    91       73       93    257
3         Meera    88       97       73    258
4        Ishaan    77       80       74    231
5        Ananya    72       90       72    234
7         Sanya    89       77       90    256
8         Arjun    73       81       84    238
9         Priya    72       70       75    217
10       Vihaan    91       77       79    247
11        Nisha    89       85       70    244
12       Aditya    78       94       72    244
13        Kavya    75       75       76    226
15       Ritika    75       89       75    239
17       Simran    87       90       72    249
18          Dev    83       77       91    251
19        Pooja    75       77       94    246

In [63]:
student.to_csv('student_with_total_csv',index=False)

In [65]:
print('Highest : ',student['Math'].max())
print('Lowest : ',student['Math'].min())

Highest :  94
Lowest :  72

In [70]:
print('Average : ',student['Total'].mean())

Average :  248.0

In [76]:
print(student.sort_values(by='English',ascending=False).head(3))

   Student Name  Math  Science  English  Total
16        Karan    80       94       97    271
2         Kabir    94       89       94    277
19        Pooja    75       77       94    246

In [84]:
print('Student scored : ',(student['Science']> 85).sum())

Student scored :  9

In [87]:
def grade(Total):
    if Total >= 250:
        return 'A'
    elif Total >= 200:
        return 'B'
    else:
        return 'C'
student['Grade'] = student['Total'].apply(grade)
print(student)

   Student Name  Math  Science  English  Total Grade
0         Aarav    75      100       86    261     A
1          Diya    91       73       93    257     A
2         Kabir    94       89       94    277     A
3         Meera    88       97       73    258     A
4        Ishaan    77       80       74    231     B
5        Ananya    72       90       72    234     B
6         Rohan    90       81       80    251     A
7         Sanya    89       77       90    256     A
8         Arjun    73       81       84    238     B
9         Priya    72       70       75    217     B
10       Vihaan    91       77       79    247     B
11        Nisha    89       85       70    244     B
12       Aditya    78       94       72    244     B
13        Kavya    75       75       76    226     B
14        Manav    87       96       80    263     A
15       Ritika    75       89       75    239     B
16        Karan    80       94       97    271     A
17       Simran    87       90       72    249     B
18          Dev    83       77       91    251     A
19        Pooja    75       77       94    246     B

In [6]:
def grade(Total):
    return ('A' if Total>= 250 else 'B')
student['Grade'] = student['Total'].apply(grade)
print(student)

   Student Name  Math  Science  English  Total Grade
0         Aarav    75      100       86    261     A
1          Diya    91       73       93    257     A
2         Kabir    94       89       94    277     A
3         Meera    88       97       73    258     A
4        Ishaan    77       80       74    231     B
5        Ananya    72       90       72    234     B
6         Rohan    90       81       80    251     A
7         Sanya    89       77       90    256     A
8         Arjun    73       81       84    238     B
9         Priya    72       70       75    217     B
10       Vihaan    91       77       79    247     B
11        Nisha    89       85       70    244     B
12       Aditya    78       94       72    244     B
13        Kavya    75       75       76    226     B
14        Manav    87       96       80    263     A
15       Ritika    75       89       75    239     B
16        Karan    80       94       97    271     A
17       Simran    87       90       72    249     B
18          Dev    83       77       91    251     A
19        Pooja    75       77       94    246     B

In [90]:
print(student.groupby('Grade')[['Math','Science','English']].mean())

            Math    Science    English
Grade
A      86.333333  87.111111  87.111111
B      78.545455  82.545455  76.636364

In [92]:
print(student[(student['Math']==student['Science']) |
    (student['Science']==student['English']) |
    (student['English']==student['Math'])])

   Student Name  Math  Science  English  Total Grade
2         Kabir    94       89       94    277     A
5        Ananya    72       90       72    234     B
13        Kavya    75       75       76    226     B
15       Ritika    75       89       75    239     B

In [96]:
print(student.sort_values(by='Total',ascending=False).head(5))

   Student Name  Math  Science  English  Total Grade
2         Kabir    94       89       94    277     A
16        Karan    80       94       97    271     A
14        Manav    87       96       80    263     A
0         Aarav    75      100       86    261     A
3         Meera    88       97       73    258     A

In [102]:
student[['Student Name','Grade']].to_csv('student_grades.csv',index=False)
students = pd.read_csv(r'student_grades.csv')
print(students)

   Student Name Grade
0         Aarav     A
1          Diya     A
2         Kabir     A
3         Meera     A
4        Ishaan     B
5        Ananya     B
6         Rohan     A
7         Sanya     A
8         Arjun     B
9         Priya     B
10       Vihaan     B
11        Nisha     B
12       Aditya     B
13        Kavya     B
14        Manav     A
15       Ritika     B
16        Karan     A
17       Simran     B
18          Dev     A
19        Pooja     B

In [143]:
company = pd.read_csv(r'C:\Users\ADMIN\Desktop\Jupyter folder/Downloads/company_sales_person.csv')
print(company)
print(company.head(7))

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
0       101  2024-01-06  South       Diana      Laptop      2        600
1       102  2024-01-30  South       Diana      Tablet     13        250
2       103  2024-01-26   East         Bob       Phone      1        300
3       104  2024-01-01  North       Diana      Laptop      7        600
4       105  2024-01-13  South     Charlie     Monitor      6        200
5       106  2024-01-12   East       Alice      Tablet      8        250
6       107  2024-01-03   West      Edward     Monitor      8        200
7       108  2024-01-14  North     Charlie       Phone     14        300
8       109  2024-01-20  North         Bob     Monitor      2        200
9       110  2024-01-07  South         Bob      Tablet      8        250
10      111  2024-01-25   West      Edward       Phone     14        300
11      112  2024-01-08  South     Charlie     Monitor      3        200
12      113  2024-01-07   East       Alice       Phone     13        300
13      114  2024-01-08  South         Bob      Laptop      3        600
14      115  2024-01-26  South       Alice      Tablet      5        250
15      116  2024-01-01   West       Diana     Monitor      9        200
16      117  2024-01-24   West      Edward  Headphones     15        100
17      118  2024-01-20   East      Edward      Laptop     15        600
18      119  2024-01-19  South       Alice      Laptop      8        600
19      120  2024-01-25   East       Diana       Phone      1        300
20      121  2024-01-26   West       Diana     Monitor      7        200
21      122  2024-01-31  North       Diana     Monitor     15        200
22      123  2024-01-28   East         Bob      Laptop      2        600
23      124  2024-01-31  North       Alice      Laptop      5        600
24      125  2024-01-14   East       Diana       Phone     12        300
25      126  2024-01-20   West     Charlie     Monitor     10        200
26      127  2024-01-03  South       Diana       Phone      7        300
27      128  2024-01-07  South       Diana       Phone      3        300
28      129  2024-01-07   West       Diana  Headphones      8        100
29      130  2024-01-18   East       Diana      Laptop     15        600
30      131  2024-01-24  North         Bob  Headphones      3        100
31      132  2024-01-26  North       Diana     Monitor     10        200
32      133  2024-01-06  North      Edward     Monitor      1        200
33      134  2024-01-04  South       Alice      Laptop      1        600
34      135  2024-01-05   East      Edward  Headphones     15        100
35      136  2024-01-28  South       Alice      Tablet     11        250
36      137  2024-01-19   West     Charlie     Monitor      4        200
37      138  2024-01-12   West     Charlie     Monitor      7        200
38      139  2024-01-27   West     Charlie  Headphones     12        100
39      140  2024-01-05   East      Edward      Tablet     10        250
40      141  2024-01-14   West     Charlie       Phone      8        300
41      142  2024-01-19  South       Diana      Laptop      1        600
42      143  2024-01-15  South       Diana      Laptop      1        600
43      144  2024-01-20   East     Charlie      Laptop      9        600
44      145  2024-01-03  South         Bob       Phone     12        300
45      146  2024-01-07   East         Bob       Phone     14        300
46      147  2024-01-25  South       Diana      Laptop     12        600
47      148  2024-01-16   East     Charlie      Laptop     11        600
48      149  2024-01-20   East      Edward      Tablet      9        250
49      150  2024-01-29  South         Bob     Monitor      1        200

    TotalSales
0         1200
1         3250
2          300
3         4200
4         1200
5         2000
6         1600
7         4200
8          400
9         2000
10        4200
11         600
12        3900
13        1800
14        1250
15        1800
16        1500
17        9000
18        4800
19         300
20        1400
21        3000
22        1200
23        3000
24        3600
25        2000
26        2100
27         900
28         800
29        9000
30         300
31        2000
32         200
33         600
34        1500
35        2750
36         800
37        1400
38        1200
39        2500
40        2400
41         600
42         600
43        5400
44        3600
45        4200
46        7200
47        6600
48        2250
49         200
   OrderID        Date Region SalesPerson  Product  Units  UnitPrice  \
0      101  2024-01-06  South       Diana   Laptop      2        600
1      102  2024-01-30  South       Diana   Tablet     13        250
2      103  2024-01-26   East         Bob    Phone      1        300
3      104  2024-01-01  North       Diana   Laptop      7        600
4      105  2024-01-13  South     Charlie  Monitor      6        200
5      106  2024-01-12   East       Alice   Tablet      8        250
6      107  2024-01-03   West      Edward  Monitor      8        200

   TotalSales
0        1200
1        3250
2         300
3        4200
4        1200
5        2000
6        1600

In [105]:
print(company.tail(5))

    OrderID        Date Region SalesPerson  Product  Units  UnitPrice  \
45      146  2024-01-07   East         Bob    Phone     14        300
46      147  2024-01-25  South       Diana   Laptop     12        600
47      148  2024-01-16   East     Charlie   Laptop     11        600
48      149  2024-01-20   East      Edward   Tablet      9        250
49      150  2024-01-29  South         Bob  Monitor      1        200

    TotalSales
45        4200
46        7200
47        6600
48        2250
49         200

In [107]:
print(company.shape)

(50, 8)

In [111]:
print(company.dtypes)

OrderID         int64
Date           object
Region         object
SalesPerson    object
Product        object
Units           int64
UnitPrice       int64
TotalSales      int64
dtype: object

In [114]:
print(company.isnull().sum())

OrderID        0
Date           0
Region         0
SalesPerson    0
Product        0
Units          0
UnitPrice      0
TotalSales     0
dtype: int64

In [115]:
print(company[['SalesPerson','TotalSales']])

   SalesPerson  TotalSales
0        Diana        1200
1        Diana        3250
2          Bob         300
3        Diana        4200
4      Charlie        1200
5        Alice        2000
6       Edward        1600
7      Charlie        4200
8          Bob         400
9          Bob        2000
10      Edward        4200
11     Charlie         600
12       Alice        3900
13         Bob        1800
14       Alice        1250
15       Diana        1800
16      Edward        1500
17      Edward        9000
18       Alice        4800
19       Diana         300
20       Diana        1400
21       Diana        3000
22         Bob        1200
23       Alice        3000
24       Diana        3600
25     Charlie        2000
26       Diana        2100
27       Diana         900
28       Diana         800
29       Diana        9000
30         Bob         300
31       Diana        2000
32      Edward         200
33       Alice         600
34      Edward        1500
35       Alice        2750
36     Charlie         800
37     Charlie        1400
38     Charlie        1200
39      Edward        2500
40     Charlie        2400
41       Diana         600
42       Diana         600
43     Charlie        5400
44         Bob        3600
45         Bob        4200
46       Diana        7200
47     Charlie        6600
48      Edward        2250
49         Bob         200

In [117]:
print(company[company['Region'] == 'South'])

    OrderID        Date Region SalesPerson  Product  Units  UnitPrice  \
0       101  2024-01-06  South       Diana   Laptop      2        600
1       102  2024-01-30  South       Diana   Tablet     13        250
4       105  2024-01-13  South     Charlie  Monitor      6        200
9       110  2024-01-07  South         Bob   Tablet      8        250
11      112  2024-01-08  South     Charlie  Monitor      3        200
13      114  2024-01-08  South         Bob   Laptop      3        600
14      115  2024-01-26  South       Alice   Tablet      5        250
18      119  2024-01-19  South       Alice   Laptop      8        600
26      127  2024-01-03  South       Diana    Phone      7        300
27      128  2024-01-07  South       Diana    Phone      3        300
33      134  2024-01-04  South       Alice   Laptop      1        600
35      136  2024-01-28  South       Alice   Tablet     11        250
41      142  2024-01-19  South       Diana   Laptop      1        600
42      143  2024-01-15  South       Diana   Laptop      1        600
44      145  2024-01-03  South         Bob    Phone     12        300
46      147  2024-01-25  South       Diana   Laptop     12        600
49      150  2024-01-29  South         Bob  Monitor      1        200

    TotalSales
0         1200
1         3250
4         1200
9         2000
11         600
13        1800
14        1250
18        4800
26        2100
27         900
33         600
35        2750
41         600
42         600
44        3600
46        7200
49         200

In [119]:
print(company[company['Units']>10])

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
1       102  2024-01-30  South       Diana      Tablet     13        250
7       108  2024-01-14  North     Charlie       Phone     14        300
10      111  2024-01-25   West      Edward       Phone     14        300
12      113  2024-01-07   East       Alice       Phone     13        300
16      117  2024-01-24   West      Edward  Headphones     15        100
17      118  2024-01-20   East      Edward      Laptop     15        600
21      122  2024-01-31  North       Diana     Monitor     15        200
24      125  2024-01-14   East       Diana       Phone     12        300
29      130  2024-01-18   East       Diana      Laptop     15        600
34      135  2024-01-05   East      Edward  Headphones     15        100
35      136  2024-01-28  South       Alice      Tablet     11        250
38      139  2024-01-27   West     Charlie  Headphones     12        100
44      145  2024-01-03  South         Bob       Phone     12        300
45      146  2024-01-07   East         Bob       Phone     14        300
46      147  2024-01-25  South       Diana      Laptop     12        600
47      148  2024-01-16   East     Charlie      Laptop     11        600

    TotalSales
1         3250
7         4200
10        4200
12        3900
16        1500
17        9000
21        3000
24        3600
29        9000
34        1500
35        2750
38        1200
44        3600
45        4200
46        7200
47        6600

In [121]:
print(company[company['Product'] == 'Laptop'])

    OrderID        Date Region SalesPerson Product  Units  UnitPrice  \
0       101  2024-01-06  South       Diana  Laptop      2        600
3       104  2024-01-01  North       Diana  Laptop      7        600
13      114  2024-01-08  South         Bob  Laptop      3        600
17      118  2024-01-20   East      Edward  Laptop     15        600
18      119  2024-01-19  South       Alice  Laptop      8        600
22      123  2024-01-28   East         Bob  Laptop      2        600
23      124  2024-01-31  North       Alice  Laptop      5        600
29      130  2024-01-18   East       Diana  Laptop     15        600
33      134  2024-01-04  South       Alice  Laptop      1        600
41      142  2024-01-19  South       Diana  Laptop      1        600
42      143  2024-01-15  South       Diana  Laptop      1        600
43      144  2024-01-20   East     Charlie  Laptop      9        600
46      147  2024-01-25  South       Diana  Laptop     12        600
47      148  2024-01-16   East     Charlie  Laptop     11        600

    TotalSales
0         1200
3         4200
13        1800
17        9000
18        4800
22        1200
23        3000
29        9000
33         600
41         600
42         600
43        5400
46        7200
47        6600

In [122]:
print(company[company['SalesPerson'] == 'Bob'])

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
2       103  2024-01-26   East         Bob       Phone      1        300
8       109  2024-01-20  North         Bob     Monitor      2        200
9       110  2024-01-07  South         Bob      Tablet      8        250
13      114  2024-01-08  South         Bob      Laptop      3        600
22      123  2024-01-28   East         Bob      Laptop      2        600
30      131  2024-01-24  North         Bob  Headphones      3        100
44      145  2024-01-03  South         Bob       Phone     12        300
45      146  2024-01-07   East         Bob       Phone     14        300
49      150  2024-01-29  South         Bob     Monitor      1        200

    TotalSales
2          300
8          400
9         2000
13        1800
22        1200
30         300
44        3600
45        4200
49         200

In [124]:
company['Dicount'] = company['TotalSales'] *0.9
print(company)

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
0       101  2024-01-06  South       Diana      Laptop      2        600
1       102  2024-01-30  South       Diana      Tablet     13        250
2       103  2024-01-26   East         Bob       Phone      1        300
3       104  2024-01-01  North       Diana      Laptop      7        600
4       105  2024-01-13  South     Charlie     Monitor      6        200
5       106  2024-01-12   East       Alice      Tablet      8        250
6       107  2024-01-03   West      Edward     Monitor      8        200
7       108  2024-01-14  North     Charlie       Phone     14        300
8       109  2024-01-20  North         Bob     Monitor      2        200
9       110  2024-01-07  South         Bob      Tablet      8        250
10      111  2024-01-25   West      Edward       Phone     14        300
11      112  2024-01-08  South     Charlie     Monitor      3        200
12      113  2024-01-07   East       Alice       Phone     13        300
13      114  2024-01-08  South         Bob      Laptop      3        600
14      115  2024-01-26  South       Alice      Tablet      5        250
15      116  2024-01-01   West       Diana     Monitor      9        200
16      117  2024-01-24   West      Edward  Headphones     15        100
17      118  2024-01-20   East      Edward      Laptop     15        600
18      119  2024-01-19  South       Alice      Laptop      8        600
19      120  2024-01-25   East       Diana       Phone      1        300
20      121  2024-01-26   West       Diana     Monitor      7        200
21      122  2024-01-31  North       Diana     Monitor     15        200
22      123  2024-01-28   East         Bob      Laptop      2        600
23      124  2024-01-31  North       Alice      Laptop      5        600
24      125  2024-01-14   East       Diana       Phone     12        300
25      126  2024-01-20   West     Charlie     Monitor     10        200
26      127  2024-01-03  South       Diana       Phone      7        300
27      128  2024-01-07  South       Diana       Phone      3        300
28      129  2024-01-07   West       Diana  Headphones      8        100
29      130  2024-01-18   East       Diana      Laptop     15        600
30      131  2024-01-24  North         Bob  Headphones      3        100
31      132  2024-01-26  North       Diana     Monitor     10        200
32      133  2024-01-06  North      Edward     Monitor      1        200
33      134  2024-01-04  South       Alice      Laptop      1        600
34      135  2024-01-05   East      Edward  Headphones     15        100
35      136  2024-01-28  South       Alice      Tablet     11        250
36      137  2024-01-19   West     Charlie     Monitor      4        200
37      138  2024-01-12   West     Charlie     Monitor      7        200
38      139  2024-01-27   West     Charlie  Headphones     12        100
39      140  2024-01-05   East      Edward      Tablet     10        250
40      141  2024-01-14   West     Charlie       Phone      8        300
41      142  2024-01-19  South       Diana      Laptop      1        600
42      143  2024-01-15  South       Diana      Laptop      1        600
43      144  2024-01-20   East     Charlie      Laptop      9        600
44      145  2024-01-03  South         Bob       Phone     12        300
45      146  2024-01-07   East         Bob       Phone     14        300
46      147  2024-01-25  South       Diana      Laptop     12        600
47      148  2024-01-16   East     Charlie      Laptop     11        600
48      149  2024-01-20   East      Edward      Tablet      9        250
49      150  2024-01-29  South         Bob     Monitor      1        200

    TotalSales  Dicount
0         1200   1080.0
1         3250   2925.0
2          300    270.0
3         4200   3780.0
4         1200   1080.0
5         2000   1800.0
6         1600   1440.0
7         4200   3780.0
8          400    360.0
9         2000   1800.0
10        4200   3780.0
11         600    540.0
12        3900   3510.0
13        1800   1620.0
14        1250   1125.0
15        1800   1620.0
16        1500   1350.0
17        9000   8100.0
18        4800   4320.0
19         300    270.0
20        1400   1260.0
21        3000   2700.0
22        1200   1080.0
23        3000   2700.0
24        3600   3240.0
25        2000   1800.0
26        2100   1890.0
27         900    810.0
28         800    720.0
29        9000   8100.0
30         300    270.0
31        2000   1800.0
32         200    180.0
33         600    540.0
34        1500   1350.0
35        2750   2475.0
36         800    720.0
37        1400   1260.0
38        1200   1080.0
39        2500   2250.0
40        2400   2160.0
41         600    540.0
42         600    540.0
43        5400   4860.0
44        3600   3240.0
45        4200   3780.0
46        7200   6480.0
47        6600   5940.0
48        2250   2025.0
49         200    180.0

In [126]:
company['Profit'] = company['TotalSales']*0.25
print(company)

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
0       101  2024-01-06  South       Diana      Laptop      2        600
1       102  2024-01-30  South       Diana      Tablet     13        250
2       103  2024-01-26   East         Bob       Phone      1        300
3       104  2024-01-01  North       Diana      Laptop      7        600
4       105  2024-01-13  South     Charlie     Monitor      6        200
5       106  2024-01-12   East       Alice      Tablet      8        250
6       107  2024-01-03   West      Edward     Monitor      8        200
7       108  2024-01-14  North     Charlie       Phone     14        300
8       109  2024-01-20  North         Bob     Monitor      2        200
9       110  2024-01-07  South         Bob      Tablet      8        250
10      111  2024-01-25   West      Edward       Phone     14        300
11      112  2024-01-08  South     Charlie     Monitor      3        200
12      113  2024-01-07   East       Alice       Phone     13        300
13      114  2024-01-08  South         Bob      Laptop      3        600
14      115  2024-01-26  South       Alice      Tablet      5        250
15      116  2024-01-01   West       Diana     Monitor      9        200
16      117  2024-01-24   West      Edward  Headphones     15        100
17      118  2024-01-20   East      Edward      Laptop     15        600
18      119  2024-01-19  South       Alice      Laptop      8        600
19      120  2024-01-25   East       Diana       Phone      1        300
20      121  2024-01-26   West       Diana     Monitor      7        200
21      122  2024-01-31  North       Diana     Monitor     15        200
22      123  2024-01-28   East         Bob      Laptop      2        600
23      124  2024-01-31  North       Alice      Laptop      5        600
24      125  2024-01-14   East       Diana       Phone     12        300
25      126  2024-01-20   West     Charlie     Monitor     10        200
26      127  2024-01-03  South       Diana       Phone      7        300
27      128  2024-01-07  South       Diana       Phone      3        300
28      129  2024-01-07   West       Diana  Headphones      8        100
29      130  2024-01-18   East       Diana      Laptop     15        600
30      131  2024-01-24  North         Bob  Headphones      3        100
31      132  2024-01-26  North       Diana     Monitor     10        200
32      133  2024-01-06  North      Edward     Monitor      1        200
33      134  2024-01-04  South       Alice      Laptop      1        600
34      135  2024-01-05   East      Edward  Headphones     15        100
35      136  2024-01-28  South       Alice      Tablet     11        250
36      137  2024-01-19   West     Charlie     Monitor      4        200
37      138  2024-01-12   West     Charlie     Monitor      7        200
38      139  2024-01-27   West     Charlie  Headphones     12        100
39      140  2024-01-05   East      Edward      Tablet     10        250
40      141  2024-01-14   West     Charlie       Phone      8        300
41      142  2024-01-19  South       Diana      Laptop      1        600
42      143  2024-01-15  South       Diana      Laptop      1        600
43      144  2024-01-20   East     Charlie      Laptop      9        600
44      145  2024-01-03  South         Bob       Phone     12        300
45      146  2024-01-07   East         Bob       Phone     14        300
46      147  2024-01-25  South       Diana      Laptop     12        600
47      148  2024-01-16   East     Charlie      Laptop     11        600
48      149  2024-01-20   East      Edward      Tablet      9        250
49      150  2024-01-29  South         Bob     Monitor      1        200

    TotalSales  Dicount  Profit
0         1200   1080.0   300.0
1         3250   2925.0   812.5
2          300    270.0    75.0
3         4200   3780.0  1050.0
4         1200   1080.0   300.0
5         2000   1800.0   500.0
6         1600   1440.0   400.0
7         4200   3780.0  1050.0
8          400    360.0   100.0
9         2000   1800.0   500.0
10        4200   3780.0  1050.0
11         600    540.0   150.0
12        3900   3510.0   975.0
13        1800   1620.0   450.0
14        1250   1125.0   312.5
15        1800   1620.0   450.0
16        1500   1350.0   375.0
17        9000   8100.0  2250.0
18        4800   4320.0  1200.0
19         300    270.0    75.0
20        1400   1260.0   350.0
21        3000   2700.0   750.0
22        1200   1080.0   300.0
23        3000   2700.0   750.0
24        3600   3240.0   900.0
25        2000   1800.0   500.0
26        2100   1890.0   525.0
27         900    810.0   225.0
28         800    720.0   200.0
29        9000   8100.0  2250.0
30         300    270.0    75.0
31        2000   1800.0   500.0
32         200    180.0    50.0
33         600    540.0   150.0
34        1500   1350.0   375.0
35        2750   2475.0   687.5
36         800    720.0   200.0
37        1400   1260.0   350.0
38        1200   1080.0   300.0
39        2500   2250.0   625.0
40        2400   2160.0   600.0
41         600    540.0   150.0
42         600    540.0   150.0
43        5400   4860.0  1350.0
44        3600   3240.0   900.0
45        4200   3780.0  1050.0
46        7200   6480.0  1800.0
47        6600   5940.0  1650.0
48        2250   2025.0   562.5
49         200    180.0    50.0

In [177]:
company.to_csv('company_with_profit.csv')

In [179]:
print(company.sort_values(by='TotalSales',ascending=False))

    OrderID        Date      Region SalesPerson     Product  Units  UnitPrice  \
17      118  2024-01-20        East      Edward      Laptop     15        600
29      130  2024-01-18        East       Diana      Laptop     15        600
46      147  2024-01-25       South       Diana      Laptop     12        600
47      148  2024-01-16        East     Charlie      Laptop     11        600
43      144  2024-01-20        East     Charlie      Laptop      9        600
18      119  2024-01-19       South       Alice      Laptop      8        600
10      111  2024-01-25        West      Edward       Phone     14        300
7       108  2024-01-14  North Zone     Charlie       Phone     14        300
45      146  2024-01-07        East         Bob       Phone     14        300
3       104  2024-01-01  North Zone       Diana      Laptop      7        600
12      113  2024-01-07        East       Alice       Phone     13        300
24      125  2024-01-14        East       Diana       Phone     12        300
44      145  2024-01-03       South         Bob       Phone     12        300
1       102  2024-01-30       South       Diana      Tablet     13        250
23      124  2024-01-31  North Zone       Alice      Laptop      5        600
21      122  2024-01-31  North Zone       Diana     Monitor     15        200
35      136  2024-01-28       South       Alice      Tablet     11        250
39      140  2024-01-05        East      Edward      Tablet     10        250
40      141  2024-01-14        West     Charlie       Phone      8        300
48      149  2024-01-20        East      Edward      Tablet      9        250
26      127  2024-01-03       South       Diana       Phone      7        300
5       106  2024-01-12        East       Alice      Tablet      8        250
31      132  2024-01-26  North Zone       Diana     Monitor     10        200
25      126  2024-01-20        West     Charlie     Monitor     10        200
9       110  2024-01-07       South         Bob      Tablet      8        250
15      116  2024-01-01        West       Diana     Monitor      9        200
13      114  2024-01-08       South         Bob      Laptop      3        600
6       107  2024-01-03        West      Edward     Monitor      8        200
16      117  2024-01-24        West      Edward  Headphones     15        100
34      135  2024-01-05        East      Edward  Headphones     15        100
37      138  2024-01-12        West     Charlie     Monitor      7        200
20      121  2024-01-26        West       Diana     Monitor      7        200
14      115  2024-01-26       South       Alice      Tablet      5        250
0       101  2024-01-06       South       Diana      Laptop      2        600
22      123  2024-01-28        East         Bob      Laptop      2        600
38      139  2024-01-27        West     Charlie  Headphones     12        100
4       105  2024-01-13       South     Charlie     Monitor      6        200
27      128  2024-01-07       South       Diana       Phone      3        300
36      137  2024-01-19        West     Charlie     Monitor      4        200
28      129  2024-01-07        West       Diana  Headphones      8        100
11      112  2024-01-08       South     Charlie     Monitor      3        200
41      142  2024-01-19       South       Diana      Laptop      1        600
42      143  2024-01-15       South       Diana      Laptop      1        600
33      134  2024-01-04       South       Alice      Laptop      1        600
8       109  2024-01-20  North Zone         Bob     Monitor      2        200
2       103  2024-01-26        East         Bob       Phone      1        300
19      120  2024-01-25        East       Diana       Phone      1        300
30      131  2024-01-24  North Zone         Bob  Headphones      3        100
32      133  2024-01-06  North Zone      Edward     Monitor      1        200
49      150  2024-01-29       South         Bob     Monitor      1        200

    TotalSales    Month
17        9000  January
29        9000  January
46        7200  January
47        6600  January
43        5400  January
18        4800  January
10        4200  January
7         4200  January
45        4200  January
3         4200  January
12        3900  January
24        3600  January
44        3600  January
1         3250  January
23        3000  January
21        3000  January
35        2750  January
39        2500  January
40        2400  January
48        2250  January
26        2100  January
5         2000  January
31        2000  January
25        2000  January
9         2000  January
15        1800  January
13        1800  January
6         1600  January
16        1500  January
34        1500  January
37        1400  January
20        1400  January
14        1250  January
0         1200  January
22        1200  January
38        1200  January
4         1200  January
27         900  January
36         800  January
28         800  January
11         600  January
41         600  January
42         600  January
33         600  January
8          400  January
2          300  January
19         300  January
30         300  January
32         200  January
49         200  January

In [144]:
company['Region'] = company['Region'].replace('North','North Zone')
print(company)

    OrderID        Date      Region SalesPerson     Product  Units  UnitPrice  \
0       101  2024-01-06       South       Diana      Laptop      2        600
1       102  2024-01-30       South       Diana      Tablet     13        250
2       103  2024-01-26        East         Bob       Phone      1        300
3       104  2024-01-01  North Zone       Diana      Laptop      7        600
4       105  2024-01-13       South     Charlie     Monitor      6        200
5       106  2024-01-12        East       Alice      Tablet      8        250
6       107  2024-01-03        West      Edward     Monitor      8        200
7       108  2024-01-14  North Zone     Charlie       Phone     14        300
8       109  2024-01-20  North Zone         Bob     Monitor      2        200
9       110  2024-01-07       South         Bob      Tablet      8        250
10      111  2024-01-25        West      Edward       Phone     14        300
11      112  2024-01-08       South     Charlie     Monitor      3        200
12      113  2024-01-07        East       Alice       Phone     13        300
13      114  2024-01-08       South         Bob      Laptop      3        600
14      115  2024-01-26       South       Alice      Tablet      5        250
15      116  2024-01-01        West       Diana     Monitor      9        200
16      117  2024-01-24        West      Edward  Headphones     15        100
17      118  2024-01-20        East      Edward      Laptop     15        600
18      119  2024-01-19       South       Alice      Laptop      8        600
19      120  2024-01-25        East       Diana       Phone      1        300
20      121  2024-01-26        West       Diana     Monitor      7        200
21      122  2024-01-31  North Zone       Diana     Monitor     15        200
22      123  2024-01-28        East         Bob      Laptop      2        600
23      124  2024-01-31  North Zone       Alice      Laptop      5        600
24      125  2024-01-14        East       Diana       Phone     12        300
25      126  2024-01-20        West     Charlie     Monitor     10        200
26      127  2024-01-03       South       Diana       Phone      7        300
27      128  2024-01-07       South       Diana       Phone      3        300
28      129  2024-01-07        West       Diana  Headphones      8        100
29      130  2024-01-18        East       Diana      Laptop     15        600
30      131  2024-01-24  North Zone         Bob  Headphones      3        100
31      132  2024-01-26  North Zone       Diana     Monitor     10        200
32      133  2024-01-06  North Zone      Edward     Monitor      1        200
33      134  2024-01-04       South       Alice      Laptop      1        600
34      135  2024-01-05        East      Edward  Headphones     15        100
35      136  2024-01-28       South       Alice      Tablet     11        250
36      137  2024-01-19        West     Charlie     Monitor      4        200
37      138  2024-01-12        West     Charlie     Monitor      7        200
38      139  2024-01-27        West     Charlie  Headphones     12        100
39      140  2024-01-05        East      Edward      Tablet     10        250
40      141  2024-01-14        West     Charlie       Phone      8        300
41      142  2024-01-19       South       Diana      Laptop      1        600
42      143  2024-01-15       South       Diana      Laptop      1        600
43      144  2024-01-20        East     Charlie      Laptop      9        600
44      145  2024-01-03       South         Bob       Phone     12        300
45      146  2024-01-07        East         Bob       Phone     14        300
46      147  2024-01-25       South       Diana      Laptop     12        600
47      148  2024-01-16        East     Charlie      Laptop     11        600
48      149  2024-01-20        East      Edward      Tablet      9        250
49      150  2024-01-29       South         Bob     Monitor      1        200

    TotalSales
0         1200
1         3250
2          300
3         4200
4         1200
5         2000
6         1600
7         4200
8          400
9         2000
10        4200
11         600
12        3900
13        1800
14        1250
15        1800
16        1500
17        9000
18        4800
19         300
20        1400
21        3000
22        1200
23        3000
24        3600
25        2000
26        2100
27         900
28         800
29        9000
30         300
31        2000
32         200
33         600
34        1500
35        2750
36         800
37        1400
38        1200
39        2500
40        2400
41         600
42         600
43        5400
44        3600
45        4200
46        7200
47        6600
48        2250
49         200

In [145]:
company['Month'] = pd.to_datetime(company['Date']).dt.month_name()
print(company)

    OrderID        Date      Region SalesPerson     Product  Units  UnitPrice  \
0       101  2024-01-06       South       Diana      Laptop      2        600
1       102  2024-01-30       South       Diana      Tablet     13        250
2       103  2024-01-26        East         Bob       Phone      1        300
3       104  2024-01-01  North Zone       Diana      Laptop      7        600
4       105  2024-01-13       South     Charlie     Monitor      6        200
5       106  2024-01-12        East       Alice      Tablet      8        250
6       107  2024-01-03        West      Edward     Monitor      8        200
7       108  2024-01-14  North Zone     Charlie       Phone     14        300
8       109  2024-01-20  North Zone         Bob     Monitor      2        200
9       110  2024-01-07       South         Bob      Tablet      8        250
10      111  2024-01-25        West      Edward       Phone     14        300
11      112  2024-01-08       South     Charlie     Monitor      3        200
12      113  2024-01-07        East       Alice       Phone     13        300
13      114  2024-01-08       South         Bob      Laptop      3        600
14      115  2024-01-26       South       Alice      Tablet      5        250
15      116  2024-01-01        West       Diana     Monitor      9        200
16      117  2024-01-24        West      Edward  Headphones     15        100
17      118  2024-01-20        East      Edward      Laptop     15        600
18      119  2024-01-19       South       Alice      Laptop      8        600
19      120  2024-01-25        East       Diana       Phone      1        300
20      121  2024-01-26        West       Diana     Monitor      7        200
21      122  2024-01-31  North Zone       Diana     Monitor     15        200
22      123  2024-01-28        East         Bob      Laptop      2        600
23      124  2024-01-31  North Zone       Alice      Laptop      5        600
24      125  2024-01-14        East       Diana       Phone     12        300
25      126  2024-01-20        West     Charlie     Monitor     10        200
26      127  2024-01-03       South       Diana       Phone      7        300
27      128  2024-01-07       South       Diana       Phone      3        300
28      129  2024-01-07        West       Diana  Headphones      8        100
29      130  2024-01-18        East       Diana      Laptop     15        600
30      131  2024-01-24  North Zone         Bob  Headphones      3        100
31      132  2024-01-26  North Zone       Diana     Monitor     10        200
32      133  2024-01-06  North Zone      Edward     Monitor      1        200
33      134  2024-01-04       South       Alice      Laptop      1        600
34      135  2024-01-05        East      Edward  Headphones     15        100
35      136  2024-01-28       South       Alice      Tablet     11        250
36      137  2024-01-19        West     Charlie     Monitor      4        200
37      138  2024-01-12        West     Charlie     Monitor      7        200
38      139  2024-01-27        West     Charlie  Headphones     12        100
39      140  2024-01-05        East      Edward      Tablet     10        250
40      141  2024-01-14        West     Charlie       Phone      8        300
41      142  2024-01-19       South       Diana      Laptop      1        600
42      143  2024-01-15       South       Diana      Laptop      1        600
43      144  2024-01-20        East     Charlie      Laptop      9        600
44      145  2024-01-03       South         Bob       Phone     12        300
45      146  2024-01-07        East         Bob       Phone     14        300
46      147  2024-01-25       South       Diana      Laptop     12        600
47      148  2024-01-16        East     Charlie      Laptop     11        600
48      149  2024-01-20        East      Edward      Tablet      9        250
49      150  2024-01-29       South         Bob     Monitor      1        200

    TotalSales    Month
0         1200  January
1         3250  January
2          300  January
3         4200  January
4         1200  January
5         2000  January
6         1600  January
7         4200  January
8          400  January
9         2000  January
10        4200  January
11         600  January
12        3900  January
13        1800  January
14        1250  January
15        1800  January
16        1500  January
17        9000  January
18        4800  January
19         300  January
20        1400  January
21        3000  January
22        1200  January
23        3000  January
24        3600  January
25        2000  January
26        2100  January
27         900  January
28         800  January
29        9000  January
30         300  January
31        2000  January
32         200  January
33         600  January
34        1500  January
35        2750  January
36         800  January
37        1400  January
38        1200  January
39        2500  January
40        2400  January
41         600  January
42         600  January
43        5400  January
44        3600  January
45        4200  January
46        7200  January
47        6600  January
48        2250  January
49         200  January

In [146]:
print(company.groupby('Region')['TotalSales'].sum())

Region
East          51750
North Zone    17300
South         34650
West          19100
Name: TotalSales, dtype: int64

In [147]:
print(company.groupby('Product')['Units'].mean())

Product
Headphones    10.600000
Laptop         6.571429
Monitor        6.384615
Phone          9.000000
Tablet         9.142857
Name: Units, dtype: float64

In [150]:
print(company['SalesPerson'].value_counts())

SalesPerson
Diana      16
Charlie    10
Bob         9
Edward      8
Alice       7
Name: count, dtype: int64

In [154]:
print(company.loc[company['TotalSales'].idxmax(),'Region'])

East

In [156]:
print(company.groupby('Region')['TotalSales'].max())

Region
East          9000
North Zone    4200
South         7200
West          4200
Name: TotalSales, dtype: int64

In [158]:
print(company.groupby('Product')['TotalSales'].sum())

Product
Headphones     5300
Laptop        55200
Monitor       16600
Phone         29700
Tablet        16000
Name: TotalSales, dtype: int64

In [160]:
print(company.groupby('SalesPerson')['TotalSales'].sum().idxmax())

Diana

In [161]:
print(company.groupby('Product')['TotalSales'].sum().idxmax())

Laptop

In [162]:
print(company.groupby('Month')['TotalSales'].sum())

Month
January    122800
Name: TotalSales, dtype: int64

In [168]:
print(company.groupby('Product')['UnitPrice'].unique())
print(company.groupby('UnitPrice')['Product'].unique())

Product
Headphones    [100]
Laptop        [600]
Monitor       [200]
Phone         [300]
Tablet        [250]
Name: UnitPrice, dtype: object
UnitPrice
100    [Headphones]
200       [Monitor]
250        [Tablet]
300         [Phone]
600        [Laptop]
Name: Product, dtype: object

In [181]:
company[['Product','SalesPerson','TotalSales']].to_csv('company_sales_updated.csv',index=False)
company_sales = pd.read_csv('company_sales_updated.csv')
print(company_sales)

       Product SalesPerson  TotalSales
0       Laptop       Diana        1200
1       Tablet       Diana        3250
2        Phone         Bob         300
3       Laptop       Diana        4200
4      Monitor     Charlie        1200
5       Tablet       Alice        2000
6      Monitor      Edward        1600
7        Phone     Charlie        4200
8      Monitor         Bob         400
9       Tablet         Bob        2000
10       Phone      Edward        4200
11     Monitor     Charlie         600
12       Phone       Alice        3900
13      Laptop         Bob        1800
14      Tablet       Alice        1250
15     Monitor       Diana        1800
16  Headphones      Edward        1500
17      Laptop      Edward        9000
18      Laptop       Alice        4800
19       Phone       Diana         300
20     Monitor       Diana        1400
21     Monitor       Diana        3000
22      Laptop         Bob        1200
23      Laptop       Alice        3000
24       Phone       Diana        3600
25     Monitor     Charlie        2000
26       Phone       Diana        2100
27       Phone       Diana         900
28  Headphones       Diana         800
29      Laptop       Diana        9000
30  Headphones         Bob         300
31     Monitor       Diana        2000
32     Monitor      Edward         200
33      Laptop       Alice         600
34  Headphones      Edward        1500
35      Tablet       Alice        2750
36     Monitor     Charlie         800
37     Monitor     Charlie        1400
38  Headphones     Charlie        1200
39      Tablet      Edward        2500
40       Phone     Charlie        2400
41      Laptop       Diana         600
42      Laptop       Diana         600
43      Laptop     Charlie        5400
44       Phone         Bob        3600
45       Phone         Bob        4200
46      Laptop       Diana        7200
47      Laptop     Charlie        6600
48      Tablet      Edward        2250
49     Monitor         Bob         200